<div class="row about-tab">
    <div class="col-xs-6 col-sm-5 col-sm-offset-1 text-center">
        <br/>
        <!--<h3>Solutions</h3>-->
        <div class="alert alert-success" role="alert">
            <p class="job-introduction">Solutions</p>
        </div>

        <ul class="list-unstyled">
            <li>Content Management</li>
            <li>Corporate learning management</li>
            <li>Knowledge management</li>
            <li>Digital asset management</li>
            <li>Brand management</li>
            <li>Content delivery</li>
            <li>Digital transformation</li>
            <li>Enterprise search</li>
            <li>Workflow</li>
            <li>Rights management</li>
            <li>Semantic enrichment</li>
            <li>Data insight</li>
        </ul>
    </div>
    <div class="col-xs-6 col-sm-5 text-center">
        <br/>
        <!--<h3>Products</h3>-->
        <div class="alert alert-success" role="alert">
            <p class="job-introduction">Products</p>
        </div>

        <ul class="list-unstyled">
            <li>Ixxus Publishing Modules</li>
            <li>Alfresco – a smarter way to work</li>
            <li>MarkLogic  - new  generation data base</li>
            <li>Solr</li>
            <li>ElasticSearch</li>
            <li>Support & Managed Services</li>
        </ul>
    </div>
</div>
