<div class="about-clients-tab">
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="resources/image/clients/logos_7.jpg" style="width: 400px" alt="Clients">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <img src="resources/image/clients/logos_1.jpg" style="width: 400px" alt="Clients">
        </div>
        <div class="col-xs-6 text-center">
            <img src="resources/image/clients/logos_2.jpg" style="width: 400px" alt="Clients">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <img src="resources/image/clients/logos_3.jpg" style="width: 400px" alt="Clients">
        </div>
        <div class="col-xs-6 text-center">
            <img src="resources/image/clients/logos_4.jpg" style="width: 400px" alt="Clients">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <img src="resources/image/clients/logos_5.jpg" style="width: 400px" alt="Clients">
        </div>
        <div class="col-xs-6 text-center">
            <img src="resources/image/clients/logos_6.jpg" style="width: 400px" alt="Clients">
        </div>
    </div>
</div>