<div class="row about-tab">
    <div class="col-xs-6 col-sm-10 col-xs-offset-1">
        <div class="alert alert-success" role="alert">
            <p class="job-introduction">About us</p>
        </div>

        <p>We are the world’s largest systems integrator to work with both Alfresco and MarkLogic, utilizing these powerful technologies to deliver
            award-winning, collaborative content solutions which are uniquely tailored to customer needs.</p>

        <div class="alert alert-success" role="alert">
            <p class="job-introduction">Sectors</p>
        </div>
    </div>
    <div class="col-xs-6 col-sm-8 col-xs-offset-2">
        <ul>
            <li>Publishing & Media</li>
            <li>Finance</li>
            <li>Non-Profit</li>
            <li>Manufacturing</li>
            <li>Government</li>
            <li>Consumer & Retail</li>
        </ul>
    </div>
</div>
