<div class="row col-xs-6 col-xs-offset-3">
    <div class="alert alert-success" role="alert">
        <p class="job-introduction">Technical Architect</p>
    </div>
</div>
<div class="row job-tab">
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Requirements</p>
        <ul>
            <li>Core Java (J2SE) experience;</li>
            <li>Conscious of SOLID principles, and adept in OOP and associated design skills and patterns;</li>
            <li>Strong knowledge of web technologies such as HTTP, HTML, CSS, XML, JSON, web architectures and tools;</li>
            <li>Experience designing N-tiered applications, with multi-tier architecture and production Internet architectures;</li>
            <li>Be familiar with enterprise messaging patterns;</li>
            <li>In depth practical exposure in managing application design, SW development, maintenance and delivery;</li>
            <li>Ability to reason about performance, security, and user interactions in a complex system;</li>
        </ul>
    </div>
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Desirable skills</p>
        <ul>
            <li>Experience with the Alfresco Enterprise Content Management System (Highly desirable);
            <li>Experience with NoSQL technologies (MarkLogic NoSQL database is highly desirable);
            <li>Experience with enterprise search technologies and semantic technologies;
            <li>Experience of application development using the Spring framework;</li>
            <li>Familiarity with at least once RDBMS, active awareness of NoSQL DBs, and ACID principles.</li>
            <li>Experience with at least one Unix-like operating system;</li>
            <li>Experience in delivering projects through agile processes and practices;</li>
            <li>Very experienced with unit testing, integration testing, Maven, Git, and Continuous Integration.</li>
        </ul>
    </div>
</div>