<div class="row col-xs-6 col-xs-offset-3">
    <div class="alert alert-success" role="alert">
        <p class="job-introduction">Java Developer</p>
    </div>
</div>
<div class="row job-tab">
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Requirements</p>
        <ul>
            <li>2 years+ core Java (J2SE);</li>
            <li>2 years+ building Java applications;</li>
            <li>Excellent knowledge of web technologies such as HTTP, HTML, and CSS;</li>
            <li>Experience of working with XML and XSL;</li>
            <li>Enthusiastic and productive – willing and able to learn quickly;</li>
            <li>Strong verbal communication skills;</li>
            <li>Excellent team-working abilities;</li>
            <li>Experience of or strong desire to learn Agile development techniques.</li>
        </ul>
    </div>
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Desirable skills</p>
        <ul>
            <li>Experience of developing Freemarker (very desirable) and XSLT templates;</li>
            <li>Experience of developing Javascript code;</li>
            <li>Experience of Java frameworks such as Spring (very desirable) and JSF;</li>
            <li>Degree-level qualification in Computer Science or related discipline;</li>
        </ul>
    </div>
</div>
