<div class="row job-description">
    <div class="col-xs-6 col-sm-6">
        <label>Description</label>
        <p>
            Description Description Description Description Description Description Description Description Description Description Description ?
        </p>
    </div>
    <div class="col-xs-6 col-sm-6">
        <label>Job requirements</label>
        <p>
            Job requirements requirements requirements requirements requirements requirements requirements requirements ?
        </p>
    </div>
</div>
