<div class="row col-xs-6 col-xs-offset-3">
    <div class="alert alert-success" role="alert">
        <p class="job-introduction">UI Developer</p>
    </div>
</div>
<div class="row job-tab">
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Requirements</p>
        <ul>
            <li>Proven commercial experience of developing websites</li>
            <li>Strong JavaScript skills including proven experience of closures, inheritance and the prototype chain</li>
            <li>Strong understanding of JavaScript profiling and performance principles</li>
            <li>Experience of JavaScript libraries / frameworks (preferably AngularJS or Backbone.js and including jQuery)</li>
            <li>Excellent front-end development skills (HTML5, CSS3)</li>
            <li>Experience with build tools such as Grunt / Gulp, Git, and Continuous Integration</li>
            <li>Experience of unit, integration and functional testing</li>
            <li>Proven experience of developing responsive web applications (and with CSS frameworks such as Bootstrap).</li>
            <li>Experience of delivering projects through agile processes and practices</li>
        </ul>
    </div>
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Desirable skills</p>
        <ul>
            <li>Demonstrable experience as a developer in a team environment</li>
            <li>Dynamic CSS preprocessor languages such as SASS / LESS</li>
            <li>Underscore.js, React</li>
            <li>AMD / CommonJS (e.g. RequireJS, Browserify)</li>
            <li>OOCSS / BEM</li>
            <li>Experience with static analysis, code complexity and code style tools</li>
            <li>Experience working with package management tools (e.g. Bower, npm)</li>
            <li>Web accessibility (WCAG 2.0)</li>
            <li>An understanding of UX principles, including wireframing</li>
            <li>Visual design skills & using applications such as Photoshop, etc.</li>
            <li>Excellent written and verbal communication skills</li>
            <li>Expected to document and share knowledge via the Knowledge Base</li>

        </ul>
    </div>
</div>