<div class="row col-xs-6 col-xs-offset-3">
    <div class="alert alert-success" role="alert">
        <p class="job-introduction">Senior Software Tester</p>
    </div>
</div>
<div class="row job-tab">
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Requirements</p>
        <ul>
            <li>5 years’ experience in software testing with 2 years as a Lead/Senior Software Tester/Tester;</li>
            <li>Experienced in writing and implementing test strategies, test plans and contributing to QA process improvement initiatives;</li>
            <li>Hands‐on functional testing experience including system testing and regression testing, both manual and automated;</li>
            <li>Experience of working in an agile testing environment, is familiar with SCRUM and with testing within a SCRUM team;</li>
            <li>Experienced in logging and tracking defects through to closure, using issue tracking tools such as JIRA;</li>
            <li>Experienced in automated testing and automation testing tools, plus an interest in working with Open Source testing tools e.g. Selenium Web Driver;</li>
            <li>Experienced in working with performance testing tools e.g. JMeter;</li>
        </ul>
    </div>
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Desirable skills</p>
        <ul>
            <li>Formal testing qualifications would be an advantage (e.g. ISEB; ISTQB Foundation or above);</li>
            <li>Customer/Client facing experience;</li>
            <li>Knowledge of Object Oriented Programming & Java Programming Language;</li>
            <li>Experience and knowledge of Behavior Driven Development testing and tools.</li>
            <li>Able to demonstrate analytical and problem solving skills, with proven ability to investigate complex issues and make informed decisions when written guidelines are not available;</li>
            <li>Able to estimate time to complete tasks based on stories / requirements and to construct Sprint test plans based on initial estimates;</li>
            <li>Excellent communication skills, both written and verbal.</li>
        </ul>
    </div>
</div>