<div class="row col-xs-6 col-xs-offset-3">
    <div class="alert alert-success" role="alert">
        <p class="job-introduction">Senior Java Developer</p>
    </div>
</div>
<div class="row job-tab">
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Requirements</p>
        <ul>
            <li>At least 2 years commercial experience;</li>
            <li>Strong core Java (J2SE) experience;</li>
            <li>Good understanding of OOP and its associated design skills and patterns;</li>
            <li>Experience of application development using the Spring framework;</li>
            <li>Demonstrable work experience as a programmer in a team environment;</li>
            <li>Experience of working with XML and its related technologies;</li>
            <li>Experience of at least one RDBMS;</li>
            <li>Experience of unit testing, integration testing, Maven, Git, and Continuous Integration;</li>
        </ul>
    </div>
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Desirable skills</p>
        <ul>
            <li>Excellent written and verbal communication skills;</li>
            <li>Expected to document and share knowledge via the Knowledge Base;</li>
            <li>Able to anticipate performance bottlenecks, and when not to prematurely optimize;</li>
            <li>Able to leverage asynchronous programming techniques, queuing, caching, logging, security and persistence when appropriate;</li>
            <li>Experience of delivering projects through agile processes and practices;</li>
            <li>Some projects may require occasional travel to an external client site.</li>
        </ul>
    </div>
</div>


