<div class="ixx-booth">
    <div class="container">

        <div class="row content-frame">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-8">
                <div class="container frame-jobs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a ui-sref=".job1" data-toggle="tab">Job no 1</a>
                        </li>
                        <li><a href="#2" data-toggle="tab">Without clearfix</a>
                        </li>
                        <li><a href="#3" data-toggle="tab">Solution</a>
                        </li>
                    </ul>
                </div>

                <div id="jobs-views" ui-view></div>

            </div>

            <div class="col-sm-2">
            </div>

        </div>
    </div>
</div>