<div class="row col-xs-6 col-xs-offset-3">
    <div class="alert alert-success" role="alert">
        <p class="job-introduction">Software Tester</p>
    </div>
</div>
<div class="row job-tab">
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Requirements</p>
        <ul>
            <li>3+ years quality assurance experience;</li>
            <li>Experienced in logging and tracking defects through to closure, using issue tracking tools such as JIRA;</li>
            <li>Experienced in automated testing and automation testing tools, plus an interest in working with Open Source testing tools e.g. Selenium Web Driver;</li>
            <li>Positive and proactive attitude with the ability to efficiently manage own time;</li>
            <li>Sound understanding of testing methodologies / approaches, techniques and quality assurance principles;</li>
            <li>Solid understanding of the software process including analysis, design, coding, system integration, and user acceptance testing, problem resolution and planning;</li>
            <li>Ability to demonstrate analytical and problem solving skills, considering negative and edge case scenarios as well as positive scenarios;</li>
        </ul>
    </div>
    <div class="col-xs-6 col-sm-6">
        <p class="job-details-headline">Desirable skills</p>
        <ul>
            <li>High attention to detail and methodical approach to test preparation and execution;</li>
            <li>Hands‐on functional testing experience including system testing and regression testing, both manual and automated;</li>
            <li>Formal testing qualifications would be an advantage (e.g. ISEB; ISTQB Foundation Level);</li>
            <li>Knowledge of Object Oriented Programming & Java Programming Language;</li>
            <li>Experience and knowledge of Behavior Driven Development testing and tools.</li>
            <li>Excellent communication skills, both written and verbal.</li>
        </ul>
    </div>
</div>