<div class="row form-question">
    <div class="col-xs-12 col-sm-12">
        <label>Question</label>
        <p>
            Game 1 You have been assigned a considerably complex task. How do you start your work on do you start your work
            on do you start your work on do you start your work on do you start your work on do you start your work
            on it?
        </p>
    </div>
</div>

<div class="row form-group form-radio">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.g1q1" value="A">
                Start by gathering as much information as possible from others, then decide the best way to approach the problem given.
            </label>
        </div>
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.g1q1" value="B">
                Start coding and rapidly build a prototype as a partial solution on which to continue the implementation.
            </label>
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-xs-12 col-sm-2 col-sm-offset-5">
        <button ng-model="button" class="btn btn-lg btn-success"
                ui-sref="app.play.game1.submit" ng-disabled="!formData.g1q1">
            <strong> Next </strong>
            <span class="glyphicon glyphicon-circle-arrow-right"> </span></button>
    </div>
</div>
