<div class="row form-question">
    <div class="col-xs-12 col-sm-12">
        <label>Question</label>
        <p>
            There are two sticks which takes one hour to burn from one end to other. The sticks do not burn at a constant rate i.e. some part may burn faster
            than others. You have a box of regular matches that you can use to light the sticks. You need to measure 45 minutes by using these two sticks and
            the matches. What is the minimum amount of matches that you need?
        </p>
    </div>
</div>

<div class="row form-group form-radio">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.g1q1" value="A">
                1.
            </label>
        </div>
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.g1q1" value="B">
                2.
            </label>
        </div>
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.g1q1" value="C">
                3.
            </label>
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-xs-12 col-sm-2 col-sm-offset-5">
        <button ng-model="button" class="btn btn-lg btn-success"
                ui-sref="app.play.game1.submit" ng-disabled="!formData.g1q1">
            <strong> Next </strong>
            <span class="glyphicon glyphicon-circle-arrow-right"> </span></button>
    </div>
</div>
