<div class="row form-question">
    <div class="col-xs-12 col-sm-12">
        <label>Question 9</label>
        <p>
            If a complex, yet familiar task needs to be done properly
        </p>
    </div>
</div>

<div class="row form-group form-radio">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.q9" value="A">
                Gather the team, discuss the best way of solving the problem, then split it among yourselves.
            </label>
        </div>
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.q9" value="B">
                Do it yourself.
            </label>
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="form-button-back">
        <button ng-model="button" class="btn btn-lg btn-info"
                ui-sref="app.play.pers.pq8">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Back </button>
    </div>
    <div class="form-button-next">
        <button ng-model="button" class="btn btn-lg btn-success"
                ui-sref="app.play.pers.pq10" ng-disabled="!formData.q9">
            <strong> Next </strong>
            <span class="glyphicon glyphicon-circle-arrow-right"> </span></button>
    </div>
</div>
