<div class="row form-question">
    <div class="col-xs-12 col-sm-12">
        <label>Question 2</label>
        <p>
            Where would you rather spend time?
        </p>
    </div>
</div>

<div class="row form-group form-radio">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.q2" value="A">
                Playing around with pointers / registers / functions.
            </label>
        </div>
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.q2" value="B">
                Drawing diagrams or making objects.
            </label>
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="form-button-back">
        <button ng-model="button" class="btn btn-lg btn-info"
                ui-sref="app.play.pers.pq1">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Back </button>
    </div>
    <div class="form-button-next">
        <button ng-model="button" class="btn btn-lg btn-success"
                ui-sref="app.play.pers.pq3" ng-disabled="!formData.q2">
            <strong> Next </strong>
            <span class="glyphicon glyphicon-circle-arrow-right"> </span></button>
    </div>
</div>
