<div class="row">
    <div class="col-xs-12 col-sm-12">
        <label>
            11111 What's Your Console of Choice? 222What's Your Console of Choice? 222What's Your
            Console of Choice? 222What's Your Console of Choice? 222What's Your Console of Choice?
            222What's Your Console of Choice? 222
        </label>
    </div>
</div>

<div class="row form-group form-question">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="radio">
            <label>
                <input type="radio" ng-model="formData.q1" value="A">
                A
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="formData.q1" value="B">
                B
            </label>
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-xs-12 col-sm-3 col-sm-offset-1">
        <button ng-model="button" class="btn btn-lg btn-info"
                ui-sref="app.play.pers.pq2">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous question
        </button>
    </div>
    <div class="col-xs-12 col-sm-1">
    </div>
    <div class="col-xs-12 col-sm-3">
        <button ng-model="button" class="btn btn-lg btn-success" ng-disabled="true">
            <strong>Next question</strong>
            <span class="glyphicon glyphicon-circle-arrow-right"> </span></button>
    </div>
</div>
