<div class="row form-question">
    <div class="col-xs-12 col-sm-12">
        <label>Question 4</label>
        <p>
            When intervening on other people's code, you are adding comments:
        </p>
    </div>
</div>

<div class="row form-group form-radio">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.q4" value="A">
                When you consider the code isn’t good enough to explain itself.
            </label>
        </div>
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.q4" value="B">
                To clarify situations that may seem ambiguous or difficult.
            </label>
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="form-button-back">
        <button ng-model="button" class="btn btn-lg btn-info"
                ui-sref="app.play.pers.pq3">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Back </button>
    </div>
    <div class="form-button-next">
        <button ng-model="button" class="btn btn-lg btn-success"
                ui-sref="app.play.pers.pq5" ng-disabled="!formData.q4">
            <strong> Next </strong>
            <span class="glyphicon glyphicon-circle-arrow-right"> </span></button>
    </div>
</div>
