<div class="row form-question">
    <div class="col-xs-12 col-sm-12">
        <label>Question 7</label>
        <p>
            How much time would you spend planning a task?
        </p>
    </div>
</div>

<div class="row form-group form-radio">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.q7" value="A">
                ~20% – It is more efficient to clarify and solve potential issues while coding.
            </label>
        </div>
        <div class="radio form-radio-option">
            <label>
                <input type="radio" ng-model="formData.q7" value="B">
                ~40% – More planning, more details, less code to write.
            </label>
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="form-button-back">
        <button ng-model="button" class="btn btn-lg btn-info"
                ui-sref="app.play.pers.pq6">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Back </button>
    </div>
    <div class="form-button-next">
        <button ng-model="button" class="btn btn-lg btn-success"
                ui-sref="app.play.pers.pq8" ng-disabled="!formData.q7">
            <strong> Next </strong>
            <span class="glyphicon glyphicon-circle-arrow-right"> </span></button>
    </div>
</div>
