/* style.css */
/* BASIC STYLINGS
============================================================================= */
/*body {*/
    /*padding-top: 20px;*/
/*}*/

html,body {
    padding:0;
    margin:0;
    height:100%;
    min-height:100%;
}

.booth-header {
    height:20%;
    min-height:20%;
    width: 100%;
}

.booth-content {
    height:60%;
    min-height:60%;
    width: 100%;
    background: #E4F2D2;
    border-top: solid 1px #E6E6E6;
    border-bottom: solid 2px #E6E6E6;
}

.booth-carousel {
    min-height:7%;
    width: 100%;
    /*background: #47a410;*/

}

.booth-footer {
    min-height:10%;
    width: 100%;
    /*padding: 15px 0 5px;*/
    background: #58595B;
    color: #CBCCCC;
}

/* form styling */
.form-start {
    padding-top: 10em;
}

.form-question {
    padding-top: 1em;
    font-size: 125%;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

.form-radio {
    padding-top: 1em;
    font-size: 110%;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;

}

.form-radio-option {
    padding-top: 0.5em;
}

.form-button-back {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.form-button-next {
    position: absolute;
    bottom: 0px;
    right: 0px;
}





/* ANIMATION STYLINGS
============================================================================= */
#quiz-form {
    position: relative;
    /*min-height: 300px;*/
    overflow: hidden;
    padding: 30px;
}

#form-views {
    width: auto;
    height: 400px;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}

/* enter animation */
#form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}

/* CARDS
============================================================================= */
.header-frame {
    /*background-color: #eee;*/
    height: 100px;
}

.header-frame {
    /*background-color: #eee;*/
    height: 100px;
}

.content-frame {
    /*padding: 16px 0 21px;*/
    /*height: 450px;*/
}

.footer-frame {
    /*height: 100px;*/
    padding-top: 10px;
}

.headline {
    font-family: "Arial Black", Gadget, sans-serif;
}
.brand-colour {
   color: #78be1f;
}

.ixx-booth {
    padding: 16px 0 21px;
}

.ixx-card {
    min-height: 400px;
    padding-top: 10px;
    background: #fff;
    border-radius: 12px;
    text-align: center;

    -webkit-box-shadow: 2px 1px 5px 1px rgba(194,194,194,1);
    -moz-box-shadow: 2px 1px 5px 1px rgba(194,194,194,1);
    box-shadow: 2px 1px 5px 1px rgba(194,194,194,1);
}

.ixx-card-title {
    /*padding-top: 10px;*/
    color: #58595B;
}

.ixx-card-icon {
    padding: 15px 0 15px;
}

.ixx-card-description {
    padding: 10px 10px 10px 10px;
}

.ixx-card-button {
    padding-top: 10px;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

