/* style.css */
/* BASIC STYLINGS
============================================================================= */
/*body {*/
    /*padding-top: 20px;*/
/*}*/

html,body {
    padding:0;
    margin:0;
    height:100%;
    min-height:100%;
}

.booth-header {
    height:20%;
    min-height:20%;
    width: 100%;
}

.booth-content {
    height:60%;
    min-height:60%;
    /*min-height:450px;*/
    width: 100%;
    background: rgb(171, 218, 113);
    border-top: solid 2px #79AD3A;
    border-bottom: solid 2px #ACAEB1;}

.booth-carousel {
    /*min-height:55px;*/
    min-height:10%;
    width: 100%;
    line-height: 15px;
    color: #58595B;
}

.booth-footer {
    min-height:10%;
    width: 100%;
    background: #58595B;
    color: #CBCCCC;
}

.carousel-quote {
    padding-top: 0.7em;
    font-size: 15px;
    color: #538416;
}

.carousel-author {
    font-size: 14px;
    padding: 0px;
}

/* form styling */
.form-start {
    padding-top: 6em;
}

.disclaimer-start {
    padding-top: 2em;
}

.form-question {
    padding-top: 1em;
    font-size: 125%;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    /*color: #58595B;*/
}

.form-radio {
    padding-top: 1em;
    font-size: 110%;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    /*color: #58595B;*/
}

.form-radio-option {
    padding-top: 0.5em;
}

.form-button-back {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.form-button-next {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.form-submit {
    padding-top: 6em;
}

.form-result {
    /*padding-top: 1em;*/
    font-size: 13px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    /*color: #58595B;*/
}

.submit-button {
    padding: 1em;
}

.frame-jobs{
    background-color: #f5f5f5;
    border-radius: 12px;
}


.frame-jobs > .frame-jobs-nav > li > a{
    font-weight: bold;
    font-size: 13px;
    color: #58595B;
}

.frame-jobs > .frame-jobs-nav > li > a:hover{
    background-color: #78be1f;
    border-radius: 4px;

}

.frame-about{
    background-color: #f5f5f5;
    border-radius: 12px;
}

.frame-about > .frame-about-nav > li > a{
    font-weight: bold;
    font-size: 13px;
    color: #58595B;
}

.frame-about > .frame-about-nav > li > a:hover{
    background-color: #78be1f;
    border-radius: 4px;
}

.about-clients-tab {
    margin-top: 1em;
    background: #fff;
    border-radius: 10px;
}

.about-tab {
    margin-top: 1em;
    font-weight: bold;
}

.job-view {
    padding-top: 0.5em;
}

.job-introduction {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.job-details-headline {
    font-weight: bold;
    font-size: 18px;
}

/* ANIMATION STYLINGS
============================================================================= */
#quiz-form {
    position: relative;
    /*min-height: 300px;*/
    overflow: hidden;
    padding: 30px;
}

#form-views {
    width: auto;
    height: 400px;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}

/* enter animation */
#form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}

/* CARDS
============================================================================= */
.header-frame {
    color: #58595B;
}

.ixxus-banner {
    margin: 0 auto;
}

.content-frame {
    /*padding: 16px 0 21px;*/
    /*height: 450px;*/
}

.footer-frame {
    /*height: 100px;*/
    padding-top: 10px;
}

.headline {
    font-family: "Arial Black", Gadget, sans-serif;
}
.brand-colour {
   color: #78be1f;
}

.ixx-booth {
    padding: 16px 0 21px;
}

.ixx-card {
    min-height: 400px;
    padding-top: 10px;
    background: #fff;
    border-radius: 10px 10px 15px 15px;
    text-align: center;

    -webkit-box-shadow: 3px 1px 5px 1px rgb(53, 130, 30);
    -moz-box-shadow: 3px 1px 5px 1px rgb(53, 130, 30);
    box-shadow: 3px 1px 5px 1px rgb(53, 130, 30);
}

.ixx-card-title {
    /*padding-top: 10px;*/
    color: #58595B;
}

.ixx-card-icon {
    padding: 15px 0 15px;
}

.ixx-card-description {
    padding: 10px 10px 10px 10px;
}

.ixx-card-button {
    padding-top: 10px;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

