<div class="ixx-booth">
    <div class="container">
        <div class="row content-frame">

            <div class="col-xs-4 col-xs-offset-2">
                <div class="ixx-card play">
                    <div class="ixx-card-title headline">
                        <h2>Play</h2>
                    </div>
                    <div class="ixx-card-icon">
                        <a ui-sref="app.play"><img
                                src="resources/image/icons/icon-sectors.png"
                                alt="Ixxus Play"></a>
                    </div>
                    <div class="ixx-card-description">
                        <p>Challenge yourself with our <strong>Programmer Personality Test</strong> or solve one of the <strong>Logical Quizzes</strong>.</p>
                    </div>
                    <div class="ixx-card-button">
                        <p><a class="btn btn-lg btn-success" title="Play" ui-sref="app.play"><span class="glyphicon glyphicon-knight"></span> Play</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="ixx-card info">
                    <div class="ixx-card-title headline">
                        <h2>Info</h2>
                    </div>
                    <div class="ixx-card-icon">
                        <a title="Partners" ui-sref="app.info"><img
                                src="resources/image/icons/icon-solutions.png"
                                alt="Ixxus Info"></a>
                    </div>
                    <div class="ixx-card-description">
                        <p>Find out valuable information about us and the opportunity we can offer.</p>
                    </div>
                    <div class="ixx-card-button">
                        <p><a class="btn btn-lg btn-success" title="Info" ui-sref="app.info"><span class="glyphicon glyphicon-info-sign"></span> Info </a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>