<script>
$(function(){
  $('#ixxusCarousel').carousel();
});
</script>

<div id="ixxusCarousel" class="booth-carousel carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
  		<div class="item active">
  			<h3 align="center">Slide 1 about IXXUS</h3>
  		</div>

  		<div class="item">
  			<h3 align="center">Slide 2 about IXXUS</h3>
  		</div>
  
  		<div class="item">
  			<h3 align="center">Slide 3 about IXXUS</h3>
  		</div>

  		<div class="item">
  			<h3 align="center">Slide 4 about IXXUS</h3>
  		</div>
	</div>
</div>