<script>
    $(function () {
        $('#ixxusCarousel').carousel();
    });
</script>

<div id="ixxusCarousel" class="booth-carousel carousel slide" data-ride="carousel">
    <div class="row col-xs-8 col-xs-offset-2">
        <div class="carousel-inner " role="listbox">
            <div class="item active">
                <p align="center" class="carousel-quote">
                    <strong><i>Ixxus have been a key resource for us, always understanding our needs and often bringing something new to the table
                        which we had not previously considered.
                    </i></strong>
                </p>
                <p align="center" class="carousel-author">Simon Coppen-Gardner - IT Manager <strong>Arcadia Petroleum</strong></p>
            </div>

            <div class="item">
                <p align="center" class="carousel-quote">
                    <strong><i>We selected Ixxus for two key reasons: one, Alfresco expertise, and second, MarkLogic expertise.
                    </i></strong>
                </p>
                <p align="center" class="carousel-author">Matt Bye - Head of Architecture <strong>Reed Business Information</strong></p>
            </div>

            <div class="item">
                <p align="center" class="carousel-quote">
                    <strong><i>Ixxus has a track record of solving the toughest publishing technology challenges.
                    </i></strong>
                </p>
                <p align="center" class="carousel-author">Matt MacInnis - CEO <strong>Inkling</strong></p>
            </div>

            <div class="item">
                <p align="center" class="carousel-quote">
                    <strong><i>I have been impressed by the professionalism of the Ixxus team. They have contributed greatly and will continue to be an
                        important partner in our digital transformation program.
                    </i></strong>
                </p>
                <p align="center" class="carousel-author">Kate Granville - Technology Director <strong>Oxford Education, OUP</strong></p>
            </div>

            <div class="item">
                <p align="center" class="carousel-quote">
                    <strong><i>Ixxus know their subject; they came in with no fuss, scoped the work, and then delivered it on time and on budget.
                        They are a pleasure to work with.
                    </i></strong>
                </p>
                <p align="center" class="carousel-author">Julian Starling - CIO <strong>Gerber</strong></p>
            </div>

            <div class="item">
                <p align="center" class="carousel-quote">
                    <strong><i>We were tremendously impressed with the wealth of experience and professionalism that Ixxus demonstrated throughout the project.
                    </i></strong>
                </p>
                <p align="center" class="carousel-author">Ana Lesiak - Founder <strong>Xana</strong></p>
            </div>

            <div class="item">
                <p align="center" class="carousel-quote">
                    <strong><i>Having a well-respected partner like Ixxus join us reinforces our approach. We expect Ixxus to significantly grow the market.
                    </i></strong>
                </p>
                <p align="center" class="carousel-author">Ian Pope - VP Sales EMEA <strong>Ephesoft</strong></p>
            </div>

            <div class="item">
                <p align="center" class="carousel-quote">
                    <strong><i>Ixxus have been one of our longest standing partners in the UK and an increasingly important MarkLogic partner in some of
                        our enterprise global projects in recent years.
                    </i></strong>
                </p>
                <p align="center" class="carousel-author">Adrian Carr - VP of EMEA <strong>MarkLogic</strong></p>
            </div>
        </div>
    </div>
</div>