<footer class="row-footer">
    <div class="container footer-frame">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-1 col-sm-3">
                <address>
                    14A Sigismund Toduta Street<br>
                    Cluj Napoca, 400699<br>
                </address>
            </div>
            <div class="col-xs-6 col-sm-3 col-sm-offset-1">
                <address>
                    <i class="fa fa-phone"></i>: +40 364 10 17 28<br>
                    <i class="fa fa-envelope"></i>:
                    <a href="mailto:jobs.ro@ixxus.com">office@ixxus.com</a>
                </address>
            </div>
            <div class="col-xs-12 col-sm-2 col-sm-offset-1">
                <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/ixxus.romania/"><span class="fa fa-facebook"></span></a>
                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/company/ixxus"><i class="fa fa-linkedin"></i></a>
                <p>©2016 Ixxus Romania</p>
            </div>
        </div>
    </div>
</footer>