<header>
    <div class="header-frame">
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12">
                    <a title="Home" ui-sref="app">
                        <img ui-sref="app" src="resources/image/booth-logo-banner.jpg" style="height:70px;" class="ixxus-banner img-responsive">
                    </a>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 headline">
                    <h3 align=center>We are <span class="brand-colour">Ixxus</span>, publishing and content specialists</h3>
                </div>
                <div class="col-xs-12">
                    <p align=center>A leading global provider of publishing solutions that reinvent the way organizations work with content to drive new
                        revenues and enhance market agility.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>