<div class="ixx-booth">
    <div class="container">
        <div class="row content-frame">

            <div class="col-xs-4 col-xs-offset-2">
                <div class="ixx-card info">
                    <div class="ixx-card-title headline">
                        <h2>About us</h2>
                    </div>
                    <div class="ixx-card-icon">
                        <a title="Partners" ui-sref="app.info.about"><img
                                src="resources/image/icons/icon-solutions.png"
                                alt="Ixxus Info"></a>
                    </div>
                    <div class="ixx-card-description">
                        <p>Find out valuable information about the company, clients and projects.</p>
                    </div>
                    <div class="ixx-card-button">
                        <p><a class="btn btn-lg btn-success" title="Info" ui-sref="app.info.about"><span class="glyphicon glyphicon-comment"></span> About us </a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="ixx-card play">
                    <div class="ixx-card-title headline">
                        <h2>Career opportunities</h2>
                    </div>
                    <div class="ixx-card-icon">
                        <a ui-sref="app.info.jobs"><img
                                src="resources/image/icons/icon-partners.png"
                                alt="Career opportunities"></a>
                    </div>
                    <div class="ixx-card-description">
                        <p>Check out what Ixxus can offer you in terms of career opportunities</p>
                    </div>
                    <div class="ixx-card-button">
                        <p><a class="btn btn-lg btn-success" title="Opportunities" ui-sref="app.info.jobs"><span class="glyphicon glyphicon-briefcase"></span> Opportunities</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>