<div class="ixx-booth">
    <div class="container">
        <div class="row content-frame">

            <div class="col-xs-4">
                <div class="ixx-card play">
                    <div class="ixx-card-title headline">
                        <h3>Programmer Personality</h3>
                    </div>
                    <div class="ixx-card-icon">
                        <a ui-sref="app.play.pers"><img
                                src="resources/image/icons/icon-partners.png"
                                alt="Personality Test"></a>
                    </div>
                    <div class="ixx-card-description">
                        <p>Find out your programming personality type with this adapted <strong>Myers-Briggs Personality Test</strong> </p>
                    </div>
                    <div class="ixx-card-button">
                        <p><a class="btn btn-lg btn-success" title="Personality Test" ui-sref="app.play.pers"><span class="glyphicon glyphicon-user"></span> Go to test</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="ixx-card play">
                    <div class="ixx-card-title headline">
                        <h3>Logical quiz 1</h3>
                    </div>
                    <div class="ixx-card-icon">
                        <a ui-sref="app.play.game1"><img
                                src="resources/image/icons/icon-sectors.png"
                                alt="Logical quiz 1"></a>
                    </div>
                    <div class="ixx-card-description">
                        <p>Challenge your brain by taking 1-2 minutes to find the best answer to this <strong>logical question</strong> </p>
                    </div>
                    <div class="ixx-card-button">
                        <p><a class="btn btn-lg btn-success" title="Logical quiz 1" ui-sref="app.play.game1"><span class="glyphicon glyphicon-question-sign"></span> Go to quiz</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="ixx-card play">
                    <div class="ixx-card-title headline">
                        <h3>Logical quiz 2</h3>
                    </div>
                    <div class="ixx-card-icon">
                        <a ui-sref="app.play.game2"><img
                                src="resources/image/icons/icon-sectors.png"
                                alt="Logical quiz 2"></a>
                    </div>
                    <div class="ixx-card-description">
                        <p>Challenge your brain by taking 1-2 minutes to find the best answer to this  <strong>logical question</strong> </p>
                    </div>
                    <div class="ixx-card-button">
                        <p><a class="btn btn-lg btn-success" title="Logical quiz 2" ui-sref="app.play.game2"><span class="glyphicon glyphicon-question-sign"></span> Go to quiz</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>